.Navbar {
    margin: 0px;
    display: flex;
    flex-direction: row;
    background: rgb(18, 18, 18);
    padding: 0% 23%;
}

.AlignRight {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}