.navbar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background: #f44336;
    padding: 0% 23%;
    height: 50px;
}

.align-right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
    .hamburger-menu {
        display: show;
    }
    .navbar {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hamburger-menu {
        display: none;
    }
    .navbar {
        display: show;
    }
}