.navbar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background: #f44336;
    padding: 0% 23%;
    height: 50px;
}

.navbar a {
    text-decoration: none;
}

.align-right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.hamburger-menu {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #f44336;
    justify-content: left ;
    height: 50px;
}

.hamburger {
    width: 20px; 
    height: 20px;
    padding: 10px;
}

.hamburger-menu svg {
    width: 20px;
    height: 20px;
}

.dropdown-parent {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    width: 120px;
    right: 0;
    padding: 0;
    background-color: white;
    border: solid 1px grey;
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    border-radius: 6px;
    text-align: start;
}

.dropdown-menu-item {
    padding: 5px; 
}

.dropdown-menu a:visited {
    color: black;
}

.dropdown-menu-item:hover {
    background-color: rgba(247, 247, 247, 0.734);
}

.dropdown-menu hr {
    margin: 0px;
    border-bottom: none;
    border-color: rgba(208, 208, 208, 0.3);
}

.dropdown-menu button {
    background: none;
    border: none;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: 15px;
}

.dropdown-parent:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
    .hamburger-menu {
        display: show;
    }
    .navbar {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1280px) {
    .hamburger-menu {
        display: none;
    }
    .navbar {
        display: show;
    }
}