@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

html, body, #root {
  margin: 0px;
  height: 100%;
  background: #fcf9fa;
}
.AppContainer{
  height: 100%;
}
:root {
  --main-background: (#484848)
}